
.diagram-container svg {
    width:100%;
    height:100%;
}

.main {
    overflow : hidden;
    height: 700px;
}
.text-container{
    width : 40%;
    height: 100%;
    float : left;
}
#text {
    width : 100%;
    height: 100%;
    border : 0px;
}
.diagram-container {
    width : 60%;
    height: 100%;
    float: right;
}
.navigation {
    position:fixed;
    top: 0;
    left : 50%;
    width : 50%;
}
#scale {
    float:right;
    padding-top: 10px;
    padding-right:20px;
}

